/* Basic styles */
	bot.body {width: 500px; margin: 0 auto; margin-top: 20px;}
	bot.div {position: absolute;}
	bot.input {width: 400px;}
	bot.button {width: 50px;}

/* styles for user input / bot output */
	#botSmile{color:#398ea7; margin-bottom: 1.4em;}
	#meSmile{color:white;}


/* content container */
.botContainer{
	display: block;
	position: absolute;
	top:0px;
	justify-content: space-between;
}

/* back button styles */
.botBack{
	position: absolute;
	top:5em;
	left: 1em;
	padding: 10px;
	background: transparent;
	border: 1px white solid;
	color:white;
	border-radius: 4px;
}

/* output container for conversation */
#output{
	position: absolute;
	top:0.5em;
	right: 0;
	font-size: 30px;
	overflow-y: visible;
	line-height: 100%;
	margin-right: 0.8em;
	max-width:500px;
  word-wrap:break-word;
}
/* Submit and clear button */
.botInputs{
  position: relative;
	top:90vh;
}

/* user Input field */
#input{
	background: transparent;
	border: 0px;
	border-bottom: 1px white solid;
	width: 40%;
	font-size: 30px;
	color: white;
	margin-right: 1em;
}

/* button styles */
#rec, #clearChat{
	font-size: 28px;
	padding: 8px;
	background: transparent;
	color: #398ea7;
	border: 1px #398ea7 solid;
	border-radius: 4px;
}
/* clear button styles */
#clearChat{color:white; border: 1px white solid;}

/* mobile container */
@media only screen and (max-width: 576px)  {

/*  Disable three.js background on mobile */
	html{background-color: black;}
	canvas{display: none;}

/* Rest of document is edits for mobile browser.
 Attempts to make the user interface less awful on mobile.  */

	.botContainer{
		top:-100px;
	}

	#output{font-size: 14px;}
	
	.botUserInput{
	    font-size: 21px !important;
			margin-right: 0em !important;
			width: 49% !important;
	  }

	  #rec, #clearChat{
	    font-size: 12px !important;

	  }

	.botBack{
		position: absolute;
		top:6em;
}
