/* 398ea7 - cyan to be used. */
/* 8C8C8C - liight grey to be used. */
body {background-color: #EEEEEE;}

.bold {font-weight: bold;}
.light {font-weight: lighter; color: #8C8C8C;}
.flexColumn {display: flex; flex-direction: column;}
.vLarge {font-size: 4.1rem !important;}

.margintop {margin-top: 1em;}
.marginbottom {margin-bottom: 1em;}
.paddingbottom {padding-bottom: 3rem;}
.padding {padding: 1rem;}
.pNoMarginBelow{margin-bottom: 0;}
.whitebg {background-color: white;}
.whiteText {color: white;}
.redbg{background-color: red;}
.marginauto {margin:auto;}
.centerText{text-align: center;}
.posDown{position: relative; top: 2rem;}
.posDownSm{position: relative; top: 1rem;}
#alertBar, .alertBar {background-color: #398ea7; color: white; text-align: center;}
.aWhiteHover:hover {color:white;}

/* navbar edits */
.navbar-toggler{ border: 0; }
.navbar ul {text-align: center;}
.navbar-toggler:focus{}

.registerSuccess {
  background-color: #398ea7;
   border-radius: 15px;
   position: relative;
   top: 1rem;
   margin-bottom: 3rem;
   color: white;
   padding: 5px;
   text-align: center;
 }

 .registerform, .adminCreateExFrm{
   background-color: white;
   margin-bottom: 1.9rem;
   padding: 10px;
   margin-top: 1.9rem;
   border-left: 5px solid #398ea7;
   border-radius: 15px;
   box-shadow: 7px 7px 6px 3px rgba(0,0,0,0.48);
 }

 .indexShowcase {
   font-family: 'Lancelot', sans-serif;
   color: white;
   text-align: center;
   text-shadow: 2px 0 0 blue, 0 2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
   padding: 11rem 0rem 11rem 0rem;
   background-image: url('../img/showcase1.jpg') !important;
   background-position: center !important;
   background-size: cover !important;
   background-repeat: no-repeat !important;
   border-bottom: 2px black solid !important;
 }

 .indexExhibitList{
   background-color: white;
   background-image: linear-gradient(to right, #333 35%, rgba(255, 255, 255, 0) 0%);
   background-position: top;
   background-size: 10px 2px;
   background-repeat: repeat-x;
 }

 .midIndex {padding: 50px;}

 .midIndexContent {
   background-color: white;
   padding: 36px;
   border-left: 3px #398ea7 solid;
   border-radius: 10px;
   -webkit-box-shadow: 7px 7px 6px 3px rgba(0,0,0,0.48);
   -moz-box-shadow: 7px 7px 6px 3px rgba(0,0,0,0.48);
   box-shadow: 7px 7px 6px 3px rgba(0,0,0,0.48);
 }

 .card {   -webkit-box-shadow: 7px 7px 6px 3px rgba(0,0,0,0.48);
    -moz-box-shadow: 7px 7px 6px 3px rgba(0,0,0,0.48);
    box-shadow: 7px 7px 6px 3px rgba(0,0,0,0.48);}

 .hotExCard {border: 2px #398ea7 solid; background-color: #EEEEEE; text-align: center; margin-bottom: 3rem;}

  .hotExCardTOP {border: 2px gold solid; background-color: #EEEEEE; text-align: center; margin-bottom: 3rem;}

.viewAllExhibitionsBtn{margin-bottom: 5rem;}
 .IndexExImg {
   width: 60%;
   padding: 20px 5px 5px 5px;
   align-self: center;
 }

 .loginForm {
   text-align: center;
   padding: 5px;
   position: relative;
   top: 1.5rem;
 }
 .loginForm button, .registerBTN1 {
position: relative;
top: 1rem;
 }

 .loginForm input {
  margin-bottom: 1rem;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #8C8C8C;
 }


.letterBox, .ALERTEDletterBox {
  width:35px;
  margin-top:0.75rem;
}
.forceColumn{
text-align: center; flex-direction: column; display: flex; align-self: center;
}


.jumbotron {
  background-color: white;
  background-image: linear-gradient(to right, #333 35%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 10px 2px;
  background-repeat: repeat-x;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .cutpage{
  background-image: linear-gradient(to right, #333 35%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 10px 2px;
  background-repeat: repeat-x;
} */

.jumbotron h6 {color: #999999;}

.navSearchBar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #398ea7;
}
.navSearchBar form{
margin-top: auto;
margin-bottom: auto;
padding: 4px 0px 4px 0px;
}

.searchBarSubmit{
  background: #398ea7 !important;
  color: white !important;
  border: 2px solid white !important;
  border-radius: 0px 20px 20px 0px !important;
  padding: 2px !important;
  margin: 10px 0px 10px 0px;
  position: relative;
  right: 5px;
  width:75px;

}

.searchBarInput{
  min-height: 24px;
  padding: 4px 0px 4px 0px;
  border-radius: 20px 0px 0px 20px;
  border: 0!important;
}

.searchBarInput::placeholder {position: relative; left: 10px;}




input[type="button" i]:active, input[type="submit" i]:active, .updateProfPic,
input[type="reset" i]:active, input[type="file" i]::-webkit-file-upload-button:active,
  button:active, .btnStyle:active{
    background: white;
    border: 1px #398ea7 solid;
    padding: 10px;
    border-radius: 4px solid #398ea7 ;
    color: #398ea7;
    -webkit-box-shadow: 24px 24px 5px -36px rgba(0,0,0,1);
    -moz-box-shadow: 24px 24px 5px -36px rgba(0,0,0,1);
    box-shadow: 24px 24px 5px -36px rgba(0,0,0,1);
  }

 input[type="submit" i], .updateProfPic,
  input[type="reset" i], input[type="file" i]::-webkit-file-upload-button,
  .btnStyle{
      background: #398ea7 !important;
      border: 0;
      padding: 10px;
      border-radius: 4px;
      color: white !important;
      -webkit-box-shadow: 24px 24px 5px -36px rgba(0,0,0,1);
      -moz-box-shadow: 24px 24px 5px -36px rgba(0,0,0,1);
      box-shadow: 24px 24px 5px -36px rgba(0,0,0,1);
    }

  /* Firefox doesnt like the above css block. It wasnt styling the a tags. */
  /* if you delete the two below blocks buttons will not style on firefox */
    .btnStyle{  background: #398ea7 !important;
      border: 0 !important;
      padding: 10px;
      border-radius: 4px !important;
      color: white !important;
      -webkit-box-shadow: 24px 24px 5px -36px rgba(0,0,0,1);
      -moz-box-shadow: 24px 24px 5px -36px rgba(0,0,0,1);
      box-shadow: 24px 24px 5px -36px rgba(0,0,0,1);
    }

    .btnStyle:active {
      background: white !important;
      border: 1px #398ea7 solid !important;
      padding: 10px !important;
      border-radius: 4px solid #398ea7 !important;
      color: #398ea7 !important;
      -webkit-box-shadow: 24px 24px 5px -36px rgba(0,0,0,1);
      -moz-box-shadow: 24px 24px 5px -36px rgba(0,0,0,1);
      box-shadow: 24px 24px 5px -36px rgba(0,0,0,1);
    }

    .workingBkBtn {
      position: relative;
      top: 17px;
    }



 .btnDisable {
    background: White !important;
    color:red !important;
    border: 1px solid red !important;
    border-radius: 4px;
    padding: 10px;
  }

  .bookingLogicErr, .reviewBtnErr {
    display:none;
    background-color: red;
    border-radius: 14px;
    color: white;
    margin:auto;
    padding: 5px;
  }

  .updateBubble {
    background-color: #398ea7;
    border-radius: 14px;
    color: white;
    margin:auto;
    padding: 5px;
  }


  .reviewBtnErr{
    width:auto;
    text-align: center;
  }

 /*jQuery changes this when required*/

.fullUnderline {
  position:relative;
  /* display:block; */
  float:left;
  /* width:50%; */
  text-align:center;
  padding-bottom:50px;
  cursor:pointer;
}

.fullUnderline:after {
  content: "";
  position: absolute;
  width: 96%;
  left:1.9%;
  height: 1px;
  top: 17em;
  border-bottom: 1px solid grey;
}

.backbtn {
  color:black;
  text-decoration: none;
  position: relative;
}
.backbtn:before {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -4px;
  width: 60%;
  margin: 0 auto;
  background: #398ea7;
}

.mainExCard, .mainPageCard{
  padding: 10px 5px 30px 5px;
  margin: 10px 10px 10px 10px;
  border: 2px #398ea7 solid;
}

.hdrUnderBackBtn {margin-top: 3rem;}

.underBackbtn {
  font-size: 1.3rem;
}
/* b o o k i n g f o r m */
.bookingForm {
  /* text-align: center; */
  background-color: white;
  margin: auto;
  line-height: 100%;
  padding: 20px;
}

.bookingForm input[type='submit'] {padding: 10px;}


/**s p e c e x **/

.bestNewBox p {
  color: green;
  position: relative;
  left: 0.6em;
}


.bestNewBox {position: relative; top: 3em;}


.p4kbnm {
  margin-top: 10px;
  float:right;
  color: green;
  display: flex;
  font-weight: lighter;
  font-size: 2.9rem;
  align-self: center;
  border: 3px solid green;
  border-radius: 70px;
  padding: 27px;
  padding-top: 30px; padding-bottom: 30px;
  position: relative;
}
.p4kst {
  float:right;
  font-weight: lighter;
  display: flex;
  font-size: 2.9rem;
  align-self: center;
  border: 3px solid black;
  border-radius: 60px;
  padding: 23px;
  position: relative;
}


.specExContainer {width: 70%; /*consider grid system instead*/}

.specExStatus {
  align-items: center;
  justify-content: center;
  left: 1rem;
  position: relative;
}


.specExType {
  margin-bottom: 2rem;
  position: relative;
  display: block;
  text-align: center;
}

.specExDesc {align-self: center;}

.specExTitle {
  font-family: Lobster Two;
  display: flex;
  align-self: center;
  text-align:center;
  position: relative;
  right: 0.2em;
}

.specExStatus {margin-bottom: 0;}

.YouHaveBooked {
  background-color: #398ea7;
  color: white;
  padding: 5px 0px 5px 0px;
  border-radius: 9px 8px 0px 0px;
  position: relative;
  bottom: 17px;
  margin: 0px -16px 0px -17px;
}



.specExHeader {
  margin-top:3em;
  margin-bottom: 3em;
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
  -webkit-box-shadow: 16px 15px 8px -4px rgba(0,0,0,0.48);
  -moz-box-shadow: 16px 15px 8px -4px rgba(0,0,0,0.48);
  box-shadow: 16px 15px 8px -4px rgba(0,0,0,0.48);
  border-top: 4px solid #398ea7;
}





.specExContainer {margin-bottom: 10em;}

/* reviews*/
.postReviewBox form {
  margin-top: 3rem;
  margin-bottom: 4rem;
  width: 100%;
  text-align: center;
}

.postReviewBox textarea {
  outline: none;
  border: 2px #398ea7 solid;
  border-radius: 4px;
  width:95%;
  float:left;
}

.ratingPost {
  margin-bottom: 2.4rem;
  align-self: baseline;
}

.ratingPost select {
  padding: 10px;
  margin-left: 14px;
  border-radius: 4px;
  border: 2px #398ea7 solid;
}

.reviewInputBtn {
  align-items: flex-end;
}



.specExImg {width: auto; height:200px;}

/*  */
.1-5 {display: flex; align-self: center;}

.specExDateTime p {
  text-align: center;
   /* position: relative;
  left:2.8rem; */
  line-height: 0.9rem;
}

 /*R E V I E W S*/
.reviewsContainer{
  display:flex;
  flex-direction: column;
  margin-top:3rem;
}

.singleReview{
  display: flex;
  flex-direction:row;
  margin-bottom: 3em;
  border-left: 4px solid #398ea7;
  border-right: 4px solid #398ea7;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  background-color: white;
  border-radius: 4px;

  padding: 15px;
  -webkit-box-shadow: 7px 7px 6px 3px rgba(0,0,0,0.48);
  -moz-box-shadow: 7px 7px 6px 3px rgba(0,0,0,0.48);
  box-shadow: 7px 7px 6px 3px rgba(0,0,0,0.48);

  /* -webkit-box-shadow: 21px 18px 5px 0px rgba(0,0,0,0.42);
  -moz-box-shadow: 21px 18px 5px 0px rgba(0,0,0,0.42);
  box-shadow: 21px 18px 5px 0px rgba(0,0,0,0.42); */
}

.topofReview{
  display: flex;
  flex-direction: row;
}

.reviewText{
 word-wrap: break-word;
 width:100%;
}

.userAvatar{
  width: 100px;
  height: 100px;
  float:left;
  margin-right: 10px;
}

.deleteReviewBtn{
  margin-bottom: 1.5em;
}

.userRatingRED {
  font-size: 1.4rem;
  font-weight: bold;
  border: 2px solid red;
  color: red;
  border-radius: 100%;
  padding: 22px 29px 22px 29px;
  margin-right: 1.5rem;
  align-self: center;
  font-family: IBM Plex Sans;
}
.userRatingORANGE {
  font-size: 1.4rem;
  font-weight: bold;
  border: 2px solid orange;
  color: orange;
  border-radius: 100%;
  padding: 22px 29px 22px 29px;
  margin-right: 1.5rem;
  align-self: center;
  font-family: IBM Plex Sans;
}
.userRatingGREEN {
  font-size: 1.4rem;
  font-weight: bold;
  border: 2px solid green;
  color: green;
  border-radius: 100%;
  padding: 22px 29px 22px 29px;
  margin-right: 1.5rem;
  align-self: center;
  font-family: IBM Plex Sans;
}

.userRatingTEN {
  font-size: 1.4rem;
  font-weight: bold;
  border: 2px solid #398ea7;
  color: #398ea7;
  border-radius: 100%;
  padding: 22px;
  padding-left: 24px; padding-right: 24px;
  margin-right: 1.5rem;
  align-self: center;
  font-family: IBM Plex Sans;
}

 /*P R O F I L E*/

 .profilePageAvatar {width: 150px; height: 150px;}

 .updateInfo, .updatePw {
   margin-top: 1.9rem;
   background-color: white;
   padding: 20px;
   border-left: 5px solid #398ea7;
   border-radius: 10px;
   -webkit-box-shadow: 7px 7px 6px 3px rgba(0,0,0,0.48);
   -moz-box-shadow: 7px 7px 6px 3px rgba(0,0,0,0.48);
   box-shadow: 7px 7px 6px 3px rgba(0,0,0,0.48);
 }

  .bookedExImage {width: 150px; height: 150px}


  .mybookingsH {margin-bottom: 1.5rem; margin-top:5rem;}

  .profPicBox {
    flex-direction: column;
  }

.p4kProfileBooking {
  float:right;
  font-weight: lighter;
  font-size: 2rem;
  align-self: center;
  border: 3px solid black;
  border-radius: 60px;
  padding: 23px;
  align-self: flex-start;
}
.rightProfileBooking {flex-grow: 0; float:right}
.rightProfileBooking h3 {position: relative; }


.NMScard{
  background-color: white;
  padding: 15px;
  -webkit-box-shadow: 7px 7px 6px 3px rgba(0,0,0,0.48);
  -moz-box-shadow: 7px 7px 6px 3px rgba(0,0,0,0.48);
  box-shadow: 7px 7px 6px 3px rgba(0,0,0,0.48);
  border-bottom: 4px solid #398ea7;
  border-left: 4px solid #398ea7;
  margin-bottom: 50px;
  border-radius: 10px;
}

/* a d m i n */
  .ui-state-active,
  .ui-widget-content .ui-state-active,
   .ui-widget-header .ui-state-active,
   a.ui-button:active, .ui-button:active,
  .ui-button.ui-state-active:hover {
    background: #398ea7 !important;
    border: 1px solid #398ea7 !important;
  }

  .adminExAccord {
   height: auto;
  }

  .adminCreateExFrm{ margin-bottom: 2rem;}

  .adminCreateExFrm input {
    width: 100%;
    padding: 10px;
  }

  .adminCreateExFrm input[type='submit'] {
  width: 127px;
  }
 /* / start of breakpoints / */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /* Small devices (landscape phones, 576px and up)*/


@media (max-width: 576px) {

  .indexShowcase{padding: 0px;}

  .mybookings
  {

  }


  .specExImg{
    height:  125px;
    margin: auto;
  }

  .specExDateTime {
    margin-top: 30px;
  }



.midIndex h2, .midIndex p, .mixIndex button{
  text-align: center;
}



.midIndex {padding: 10px;padding-bottom: 30px;}

  .specExHeader {
    margin: 10px;
    margin-bottom: 4rem;
    margin-top: 4rem;
    justify-content: column !important;
  }

  .userAvatarMine{display:none;}
  .userAvatar {height: 65px; width: 65px;}


  .userRatingGREEN, .userRatingORANGE, .userRatingRED, .userRatingTEN{margin:auto;}





  .specExImgBox {
    text-align: center;
    margin: 14px 0px 44px 0px;
  }

  .bestNewBox{
    margin:auto;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {

  .indexShowcase {
    padding: 3rem 0rem 3rem 0rem;

  }

  .updateInfo {
    width: 100%;
    margin:auto;
    margin-top:2rem;
  }

  .midIndexContent {
    padding: 46px; padding-left:56px; padding-right: 56px;

  }
  .specExType{
    bottom: 0rem;
  }

  .midIndex {
    padding-left: 20px;
    padding-right: 20px;
  }

  .specExImg{
    height:  150px;
  }

  .specExDateTime p {
    text-align: center;
     position: relative;
    left:0;
    line-height: 0.9rem;
  }
}

//* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
  .specExType{
    bottom: 4.8rem;
  }

 }

//* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { ... }
